/* CSS básico para o site subir sem Tailwind */

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background: #ffffff;
  color: #111111;
}
